In [80]:
# import all libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import re

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import scale
from sklearn.feature_selection import RFE
from sklearn import model_selection
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, Lasso 
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

from sklearn.preprocessing import Normalizer,StandardScaler
from sklearn.preprocessing.data import normalize

from statistics import mean 

df = pd.read_csv("sales_data_2015.csv")
df.info()

C:\Users\folke\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.preprocessing.data module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.preprocessing. Anything that cannot be imported from sklearn.preprocessing is now part of the private API.
  warnings.warn(message, FutureWarning)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84768 entries, 0 to 84767
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  84768 non-null  int64
 1   Sale_id     84768 non-null  int64
 2   bbl_id      84768 non-null  int64
 3   year        84768 non-null  int64
 4   borough     84768 non-null  int64
 5   bldg_ctgy   84768 non-null  object
 6   tax_cls_p   84765 non-null  object
 7   block       84768 non-null  int64
 8   lot         84768 non-null  int64
 9   easmnt      1 non-null      object
 10  bldg_cls_p  84765 non-null  object
 11  address     84768 non-null  object
 12  apt         20983 non-null  object
 13  zip         84768 non-null  int64
 14  res_unit    84768 non-null  int64
 15  com_unit    84768 non-null  int64
 16  tot_unit    84768 non-null  int64
 17  land_sqft   84768 non-null  int64
 18  tot_sqft    84768 non-null  int64
 19  yr_built    84768 non-null  int64
 20  tax_cls_s   84768 non-null  int64
 21  bldg_cls_s  84768 non-null  object
 22  sale_date   84768 non-null  object
 23  price       84768 non-null  int64
 24  usable      84768 non-null  object
 25  long        84768 non-null  float64
 26  lat         84768 non-null  float64
dtypes: float64(2), int64(16), object(9)
memory usage: 17.5+ MB

C:\Users\folke\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
df.head()

,Unnamed: 0,Sale_id,bbl_id,year,borough,bldg_ctgy,tax_cls_p,block,lot,easmnt,...,land_sqft,tot_sqft,yr_built,tax_cls_s,bldg_cls_s,sale_date,price,usable,long,lat
0,0,1,2290528,2015,2,01 ONE FAMILY DWELLINGS,1,2905,28,NaN,...,4750,2619,1899,1,A9,08-07-15,0,N,-73.901338,40.841229
1,1,2,2290528,2015,2,01 ONE FAMILY DWELLINGS,1,2905,28,NaN,...,4750,2619,1899,1,A9,08-07-15,0,N,-73.901338,40.841229
2,2,3,230352,2015,2,01 ONE FAMILY DWELLINGS,1,3035,2,NaN,...,1287,2528,1899,1,S1,12/18/2015,0,N,-73.898331,40.848648
3,3,4,2303936,2015,2,01 ONE FAMILY DWELLINGS,1,3039,36,NaN,...,2500,2452,1910,1,S1,08/18/2015,0,N,-73.893338,40.856136
4,4,5,2303936,2015,2,01 ONE FAMILY DWELLINGS,1,3039,36,NaN,...,2500,2452,1910,1,S1,07-01-15,400000,Y,-73.893338,40.856136

In [70]:
len(df[df.easmnt == 'E'])

1

In [3]:
df.columns

Index(['Unnamed: 0', 'Sale_id', 'bbl_id', 'year', 'borough', 'bldg_ctgy',
       'tax_cls_p', 'block', 'lot', 'easmnt', 'bldg_cls_p', 'address', 'apt',
       'zip', 'res_unit', 'com_unit', 'tot_unit', 'land_sqft', 'tot_sqft',
       'yr_built', 'tax_cls_s', 'bldg_cls_s', 'sale_date', 'price', 'usable',
       'long', 'lat'],
      dtype='object')

In [168]:
df2 = df[['borough', 'bldg_cls_p', 'tax_cls_p', 'tot_sqft', 'land_sqft', 'tot_unit', 'res_unit', 'com_unit', 'price']]
df2 = df2[(df2.tot_sqft != 0) & (df2.tot_sqft != 1) & (df2.price >= 100) & (df2.land_sqft != 0)]

df2.dropna(subset = ["bldg_cls_p"], inplace=True)
df2.dropna(subset = ["tax_cls_p"], inplace=True)

print("Length of dataset is {}".format(len(df2)))

def bldg_cls_simple(building):
    return building[0]

def tax_cls_simple(building):
    return building[0]

df2['cat'] = df2.bldg_cls_p.apply(lambda building: bldg_cls_simple(str(building)))
df2['tax_cat'] = df2.tax_cls_p.apply(lambda building: tax_cls_simple(str(building)))

# df2 = pd.concat([df2, pd.get_dummies(df2.tax_cls_p)], axis=1)
df2 = pd.concat([df2, pd.get_dummies(df2.cat)], axis=1)
df2 = pd.concat([df2, pd.get_dummies(df2.tax_cat)], axis=1)
df2 = pd.concat([df2, pd.get_dummies(df2.borough, prefix="b")], axis=1)

df2 = df2.drop(columns=['bldg_cls_p', 'borough', 'tax_cls_p', 'cat', 'tax_cat'])

Length of dataset is 28070

In [169]:
df2

,tot_sqft,land_sqft,tot_unit,res_unit,com_unit,price,A,B,C,D,...,Y,Z,1,2,4,b_1,b_2,b_3,b_4,b_5
4,2452,2500,2,1,1,400000,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
7,2400,2000,2,2,0,430000,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
8,2400,2000,2,2,0,10000,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
9,2394,3165,2,2,0,505000,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
10,3240,1620,3,2,1,490000,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84758,1200,3447,2,2,0,465000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
84759,1550,5645,2,2,0,515000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
84761,1600,5700,2,2,0,165000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
84763,1300,3180,2,2,0,495000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
84765,2875,7933,2,2,0,825000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1

In [170]:
X = df2.drop(columns=['price'])
Y = df2.price
Y = np.array(Y).reshape(-1)
print(X.shape,Y.shape)

(28070, 36) (28070,)

In [171]:
# for column in X.columns:
#     corry = np.corrcoef(Y, X["{}".format(column)])[0][1]
#     if corry < 0.1 and corry > -0.1:
#         print("removed column {0}, because {1}".format(column, corry))
#         X = X.drop(columns=[column])

removed column A, because -0.09539282397886324
removed column B, because -0.07386002181141225
removed column C, because 0.011775113768988665
removed column E, because 0.027382507115211042
removed column F, because 0.042883294943434194
removed column G, because 0.03250897352142772
removed column H, because 0.019654995105312892
removed column I, because 0.05032513531438011
removed column J, because 0.026646392789705358
removed column K, because 0.059347236293701915
removed column L, because 0.09390901779738278
removed column M, because 0.005065064474534947
removed column N, because 0.02271124332624308
removed column P, because 0.004219041283922667
removed column Q, because -0.00038604751350507384
removed column R, because 0.00926139707433562
removed column S, because -0.004401468736737717
removed column T, because 0.026123977568545058
removed column W, because 0.05601723792379353
removed column Z, because 0.009867747331580056
removed column b_2, because -0.020885910781537956
removed column b_3, because -0.01780157767457068
removed column b_4, because -0.07013586888993598
removed column b_5, because -0.05347950017303292

In [172]:
from sklearn import linear_model

# X = Normalizer().fit_transform(X)
# X = StandardScaler().fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = .20, random_state=40)
print(X_train.shape, X_test.shape)

# lm = linear_model.Lasso(alpha=0.5)

lm = LinearRegression(normalize=True)
lm.fit(X_train, y_train)

# reg = linear_model.Ridge(alpha=10)
# reg.fit(X_train, y_train)

print('Train:', lm.score(X_train, y_train))
print('Test:', lm.score(X_test, y_test))

(22456, 12) (5614, 12)
Train: 0.3469453717962936
Test: 0.3206665866949542

In [ ]:
lr = LinearRegression()
lr.fit(X_train, y_train)
rr = Ridge(alpha=0.01) 
# higher the alpha value, more restriction on the coefficients; low alpha > more generalization,
# in this case linear and ridge regression resembles
rr.fit(X_train, y_train)
rr100 = Ridge(alpha=100) #  comparison with alpha value
rr100.fit(X_train, y_train)
train_score=lr.score(X_train, y_train)
test_score=lr.score(X_test, y_test)
Ridge_train_score = rr.score(X_train,y_train)
Ridge_test_score = rr.score(X_test, y_test)
Ridge_train_score100 = rr100.score(X_train,y_train)
Ridge_test_score100 = rr100.score(X_test, y_test)
plt.plot(rr.coef_,alpha=0.7,linestyle='none',marker='*',markersize=5,color='red',label=r'Ridge; $\alpha = 0.01$',zorder=7) 
plt.plot(rr100.coef_,alpha=0.5,linestyle='none',marker='d',markersize=6,color='blue',label=r'Ridge; $\alpha = 100$') 
plt.plot(lr.coef_,alpha=0.4,linestyle='none',marker='o',markersize=7,color='green',label='Linear Regression')
plt.xlabel('Coefficient Index',fontsize=16)
plt.ylabel('Coefficient Magnitude',fontsize=16)
plt.legend(fontsize=13,loc=4)
plt.show()

In [ ]:
plt.scatter(y_test, lm.predict(X_test))
plt.xlabel("Actual Price")
plt.ylabel("Predicted Price")
plt.title("Actual Price vs Predicted Price")
plt.show()

In [ ]:
score = sum(test_scores)/len(test_scores)
rand_score = abs(y_test - y_test.mean()).mean()

score / rand_score